<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-mfilechooser" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>mfilechooser</name>
    <js-module name="mfilechooser" src="www/mfilechooser.js">
        <clobbers target="cordova.plugins.mfilechooser" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="mFileChooser">
                <param name="android-package" value="com.gx.filechooser"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/FileChooser.java" target-dir="src/com/gx/filechooser"/>
        <source-file src="src/android/MainActivity.java" target-dir="src/com/gx/filechooser"/>

        <source-file src="src/android/res/layout/activity_main.xml" target-dir="res/layout" />
        <source-file src="src/android/res/values/colors.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/strings.xml" target-dir="res/values" />
        <source-file src="src/android/res/drawable/arrow_left.png" target-dir="res/drawable" />

        <framework src="src/android/mfilechooser.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
